*,
*:before,
*:after {
	box-sizing: border-box;
}
h1 {
	color: #E04E39;
	display: none;
	font-weight: bold;
	text-align: center;
	font: 25px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px 0 0 0;
}
.suo-header {
	background: #623b2a;
	padding: 17px 20px 17px 20px;
}
.suo-header h2 {
	padding: 0;
	margin: 0;
	color: #fffdff;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}
.suo-form {
	background: #f3e9e0;
	padding: 0 20px 20px 20px;
}
.suo-form label {
	display: block;
	color: #e5725c;
	font-size: 17px;
	padding-top: 20px;
}
.suo-form input, select {
	border: 1px solid black;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	font: 17px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	border-radius: 0;
	height: 45px;
	width: 100%;
	margin-top: 3px;
}
.suo-form table {
	width: 100%;
	border: 0px;
	margin: auto;
	margin-top: 10px;
}
.suo-form td {
	padding:2px;
	border: 0px;
}
.suo-time {
	display: table;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	background: #dbbea4;
	color: #624d43;
}
.suo-time:hover {
	background: #fff !important;
	color: #623b2a !important;
	cursor: pointer;
}
.suo-disabled {
	color: #cda78b !important;
}
.suo-disabled:hover {
	background: #dbbea4 !important;
	color: #cda78b !important;
	cursor: default !important;
}
.suo-active {
	background: #623b2a !important;
	color: #fdf8fb !important;
}
.suo-active:hover {
	background: #623b2a !important;
	color: #fdf8fb !important;
}
.suo-footer {
	width: 100%;
	display: table;
	margin-top: 10px;
}
#suoSend {
	background: #623b2a;
}
#suoSend:disabled {
	background: #dbbea4 !important;
	color: #cda78b !important;
	border: 0;
}
#suoSend[disabled]:hover {
	background: #dbbea4 !important;
	color: #cda78b !important;
	border: 0;
	cursor: default !important;
}